body { }

a {
    /*超链接*/
    text-decoration: none;
}

a:active {
    /*控制活动的连接*/
    color: blue;
}

a:visited {
    /*控制点过的连接*/
    color: darkmagenta;
}

a:hover { background-color: cadetblue; }

ul { overflow: hidden; }

#headdiv {
    /*width:100%;
    float:left;*/
    background-color: cadetblue;
}

.nav li {
    list-style: none;
    float: left;
}

.nav li a {
    display: block;
    color: black;
    padding: 5px 10px;
    text-align: center;
}

.nav li a:hover { background-color: white; }

li.logininfo {
    float: right;
    height: 16px;
    margin-right: 20px;
}

.one_third_div {
    float: left;
    width: 33%;
    text-align: center;
}

#bodydiv { margin: 0px 20px; }

#bodydiv h1 { text-align: center; }

div#loginblock { text-align: center; }

.content_1of2 {
    float: left;
    width: 50%;
    background-color: lightblue;
}

.content_1of2 h2 { text-align: center; }

.content_1of2 li { list-style: none; }

.content_1of2 span {
    float: right;
    color: grey;
}

table#persinfo {
    border: 1px solid #000000;
    text-align: center;
}

table#persinfo th {
    border: 1px solid #000000;
    width: 20%;
    background-color: lightblue;
}

table#persinfo td {
    border: 1px solid #000000;
    width: 30%;
}

#footdiv {
    padding: 10px 10px;
    background-color: cadetblue;
    text-align: center;
}